<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="game.title" placeholder="Title" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" [(ngModel)]="game.description" placeholder="Description" rows="2" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="image URL" [(ngModel)]="game.image" placeholder="Image" class="form-control" required>
                </div>
                <!--<div class="form-group">
                    <input type="file" accept="image/png, .jpeg, .jpg, image/gif" (change)="onFileSelected($event)">
                </div>-->

                <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img class="card-img-top" [src]="game.image == '' ? '/assets/unnamed.png':game.image" [alt]="game.title">
        <h4>{{game.title == '' ? 'Title' : game.title}}</h4>
        <p>{{game.description == '' ? 'Description' : game.description}}</p>
        <p>{{game.created_at | date: 'dd-MM-yyyy'}}</p>
    </div>
</div>